<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Доски</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
</head>
<body>
<div class="header board-header">
    <div class="header-block header-block-align-start">
        <button class="primary">My boards</button>
    </div>
    <div class="header-block header-block-align-center">
        <a href="/">
            <img class="main-header-logo" src="/img/favicon-96x96.png" alt="Logo">
        </a>
    </div>
    <div class="header-block header-block-align-end">
        <a href="/settings">
            <img class="profile-header-avatar" src="/img/default_avatar.png" alt="Drello">
        </a>
    </div>
</div>

</body>
</html>
